body {
  background-color: #FFF0DB; /* Beige color */
}
.navbar-nav .nav-link.nav-hover:hover {
    color: #000 !important;
    font-weight: 500;
    text-decoration: underline;
  }
  
  /* Add space between navbar links */
.navbar-nav .nav-item {
    margin-right: 30px;
  }

  /* More spacing around the h1 title */
.page-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* More spacing around the images */
  img {
    margin-top: 20px;
}

.steak-cards-wrapper {
  scroll-snap-type: x mandatory;
}

.steak-cards-wrapper .card {
  scroll-snap-align: start;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.steakcard-img-top {
  aspect-ratio: 7 / 3;
  width: 100%;
  object-fit: cover;
}

.eggcard-img-top{
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
  margin-top: 0;
}

.levels{
  display: inline;
}

.simulator-link {
  position: absolute;
  right: 15px;
}
.progress {
  font-size: 0.75em;
  margin: 0 auto;
}
.progress span {
  margin-right: 6px;
  font-weight: 500;
}


#resultContainer {
  max-width: 600px;  /* Or try 500px, 400px — adjust as needed */
  margin: 1.5rem auto;
  text-align: center;
}


#cook{
  padding-top: 30px;
}

.subhead {
  margin-top: 0;     
  margin-bottom: 1em; 
}

.simulator-flex {
  display: flex;
  justify-content: center; /* centers whole group */
  align-items: center;
  gap: 100px; /* widen the space between them a little */
  margin-top: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}


.thermometer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#thermometer {
  width: 40px;
  height: 250px;
  background: #ddd;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

#thermo-fill {
  background: linear-gradient(to top, blue, red);
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;
  transition: height 0.5s ease;
}

#tempLabel {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1rem;
}

.simulator-wrapper {
  position: relative;
  width: 350px; /* was 500px before */
  height: 350px; /* shrink proportionally */
  display: flex;
  justify-content: center;
  align-items: center;
}



.pan-img {
  width: 100%;
  height: auto;
  display: block;
}

.steak-img {
  position: absolute;
  top: 55%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: auto;
}
