{% extends "layout.html" %}

{% block content %}
  <div class="text-center">
    <h1 class="page-title">Meat and Eggs: Guide to Cooking 🥩🥚</h1>
    <p class="subhead">Click to start a 5-minute interactive lesson!</p>
  </div>
  <br>
  <div class="row justify-content-center gap-row mb-5">
    <!-- Steak Section -->
    <div class="col-md-4 mb-5 text-center">
      
      <div>
        <img src="{{ url_for('static', filename='images/home-steak.png') }}" alt="Steak" class="img-fluid rounded home-image" style="max-height: 350px;">
      </div>
      <br>
      <a href="{{ url_for('learn', lesson_id=1) }}">
        <button class="btn btn-accent btn-lg learn-btn">Steak</button>
      </a>
    </div>
  
    <!-- Eggs Section -->
    <div class="col-md-4 mb-5 text-center">
      
      <div>
        <img src="{{ url_for('static', filename='images/home-eggs.png') }}" alt="Eggs" class="img-fluid rounded home-image" style="max-height: 350px;">
      </div>
      <br>
      <a href="{{ url_for('learn', lesson_id=2) }}">
        <button class="btn btn-accent btn-lg learn-btn">Eggs</button>
      </a>
    </div>
  </div>
  
{% endblock %}
