{% extends "layout.html" %}

{% block content %}
  <div class="text-center">
    <h1 class="page-title mb-4">Learn How to Cook Proteins 🥩🥚</h1>
  </div>

  <div class="row justify-content-center gap-row mb-5">
    <!-- Steak Section -->
    <div class="col-md-4 mb-5 text-center">
      <a href="{{ url_for('learn', lesson_id=1) }}">
        <button class="btn btn-success btn-lg learn-btn">Learn About Steak!</button>
      </a>
      <div>
        <img src="{{ url_for('static', filename='images/home-steak.jpeg') }}" alt="Steak" class="img-fluid rounded home-image" style="max-height: 250px;">
      </div>
    </div>
  
    <!-- Eggs Section -->
    <div class="col-md-4 mb-5 text-center">
      <a href="{{ url_for('learn', lesson_id=2) }}">
        <button class="btn btn-success btn-lg learn-btn">Learn About Eggs!</button>
      </a>
      <div>
        <img src="{{ url_for('static', filename='images/home-eggs.png') }}" alt="Eggs" class="img-fluid rounded home-image" style="max-height: 250px;">
      </div>
    </div>
  </div>
  
{% endblock %}
